
<div class="container">
    <div class="btn d-flex justify-content-end">
        <button class="btn btn-primary" type="button" (click)="createInvoice()">Generate Invoice</button>
    </div>
    <table class="table table-hover table-striped table-bordered border-primary">
        <thead class="bg-dark">
            <tr>
                <th>invoice#</th>
                <th>date</th>
                <th>name</th>
                <th>address</th>
                <th>telephone</th>
                <th>description</th>
                <th>price</th>
                <th>quantity</th>
                <th>total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of invoices" (click)="getInvoice(i.id)">
                <td>{{ i.id }}</td>
                <td>{{ i.date | date }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.address }}</td>
                <td>{{ i.tel }}</td>
                <td>{{ i.desc }}</td>
                <td>{{ i.price | currency: 'R' }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.lineTotal | currency: 'R' }}</td>
                <td>
                    <div class="btn">
                        <button class="btn btn-primary" type="button" (click)="preview(i)">view</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>

<div class="createPopupWindow" *ngIf="newInvoice">
    <app-create-invoice (save)="save($event)" (close)="close($event)"></app-create-invoice>
</div>
<div class="viewPopupWindow" *ngIf="showInvoice">
    <app-view-invoice [invoice]="selectedInvoice"></app-view-invoice>
</div>

<div *ngIf="showInvoice || newInvoice" class="backdrop" (click)="closePopup()"></div>
<div class="over"></div>
<div *ngIf="spinner" class="d-flex justify-content-center spinner">
    <div  class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
